@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;500;800&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

:root {
    --bg-white: #FFFFFF;
    --bg-dark: #16181D;
    --gold: #D1B48C;
    --text-dark: #000;
    --text-light: #fff;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.full-width-section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}